<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>

<header>
    <h1 class="admin-title">Сторінка адміністратора</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</header>

<div class="container">
    <div class="menu">
        <button onclick="showTable('products')" class="button">Products</button>
        <button onclick="addProduct('products')" class="button">Add product</button>
        <button onclick="showTable('users')" class="button">Users</button>
        <button onclick="showOrders()" class="button">Orders</button>
    </div>
    <div class="content">
        <table id="tableContainer">
            <!-- Table content will be loaded dynamically -->
        </table>
    </div>
</div>

<script th:src="@{/js/adminScript.js}"></script>
<link rel="stylesheet" th:href="@{/styles/admin.css}">

</body>
</html>