<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c93819fc22.js" crossorigin="anonymous"></script>
    <title>Оформлення замовлення</title>
</head>
<body>

<header>
    <a th:href="@{'/'}">
        <i class="fa-solid fa-fish-fins icon"></i>
        <h1>Fishing</h1>
    </a>
</header>
<div class="container">
    <div th:if="${message}">
        <div th:each="line : ${message.split('\n')}" class="error-message" th:text="${line}"></div>
    </div>

    <form th:action="@{/index/buy}" method="post" th:object="${user}" >
        <label> ПІБ: <input type="text" th:field="*{name}" placeholder="Ваше ім'я"/> </label>
        <label> Електронна пошта: <input type="text" th:field="*{email}" placeholder="example@gmail.com"/> </label>
        <label> Номер телефону: <input type="text" th:field="*{phoneNumber}" placeholder="+380000000000"/> </label>
        <label> Місто: <input type="text" th:field="*{town}" placeholder="Місто"/> </label>
        <label> Відділення нової пошти: <input type="text" th:field="*{post}" placeholder="Номер відділення пошти"/> </label>
        <div class="checkbox-container">
            <input type="checkbox" id="callMe" th:field="*{call}" value="true" style="margin: 0; width: 20px; margin-right: 20px"/>
            <label for="callMe">Зателефонувати мені</label>
        </div>
        <input type="submit" value="Оформити"/>
    </form>
</div>

<link rel="stylesheet" th:href="@{/styles/buy.css}">
</body>
</html>
