<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c93819fc22.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/buy.css}">
    <title>Оформлення замовлення</title>
</head>
<body>

<header>
    <a th:href="@{'/index'}">
        <i class="fa-solid fa-fish-fins icon"></i>
        <h1>Fishing</h1>
    </a>
</header>

<div class="container">
    <form th:action="@{/index/buy}" method="post">
        <label> ПІБ: <input type="text" name="name"/> </label>
        <label> Електронна пошта: <input type="text" name="email"/> </label>
        <label> Номер телефону: <input type="text" name="phoneNumber"/> </label>
        <label> Місто: <input type="text" name="town"/> </label>
        <label> Відділення нової почти: <input type="text" name="post"/> </label>
        <div class="checkbox-container">
            <input type="checkbox" id="callMe" name="call" value="true" style="margin: 0; width: 20px; margin-right: 20px"/>
            <label for="callMe">Зателефонувати мені</label>
        </div>
        <input type="submit" value="Sign In"/>
    </form>
</div>

</body>
</html>
