<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c93819fc22.js" crossorigin="anonymous"></script>
    <title>Корзина</title>
</head>
<body>

<header>
    <div class="header-top">
        <a th:href="@{'/'}">
            <div class="header-logo">
                <i class="fa-solid fa-fish-fins icon"></i>
                <h1>Fishing</h1>
            </div>
        </a>
    </div>

</header>

<main>
    <table>

        <thead>
        <tr>
            <th>ID</th>
            <th>Товар</th>
            <th>Категорія</th>
            <th>Ціна</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${products}">
            <td th:text="${el.getId()}"></td>
            <td th:text="${el.getName()}"></td>
            <td th:text="${el.getType().getName()}"></td>
            <td th:text="${el.getPrice()}"></td>
            <td>
                <a>
                    <button onclick="deleteProduct(this)" th:data-id="${el.getId()}">Видалити</button>
                </a>
            </td>
        </tr>

        </tbody>
    </table>

    <p>Загальна ціна: <span th:text="${totalPrice}"></span></p>

    <button onclick="buy()" class="purchase-btn">Здійснити покупку</button>
</main>

<script th:src="@{/js/cartScript.js}"></script>
<link rel="stylesheet" th:href="@{/styles/cart.css}">

</body>
</html>