<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script src="https://kit.fontawesome.com/c93819fc22.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <title th:text="${title}"/>

</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="intro" id="intro"><!-- intro -->
    <div class="container">
        <div class="intro__inner">
            <div class="intro-logo">
                <i class="fa-solid fa-fish-fins icon"></i>
                <h1>Fishing</h1>
            </div>


        <a th:href="@{'/index/shop/1'}" target="_blank">
            <button class="button">Магазин</button>
        </a>
        </div>
    </div>
</div><!-- intro -->
<div class="advertising">
    <div class="advertising-item">
        <p><i class="fa-regular fa-star"></i>  Оригінальні товари</p>
    </div>
    <div class="advertising-item">
        <p><i class="fa-solid fa-rotate-left"></i>  Обмін та повернення впродож 14 днів</p>
    </div>
    <div class="advertising-item">
        <p><i class="fa-regular fa-thumbs-up"></i>  Позитивні відгуки</p>
    </div>
    <div class="advertising-item">
        <p><i class="fa-solid fa-box"></i>  Доставка в будь-який куток України</p>
    </div>
    <div class="advertising-item">
        <p><i class="fa-solid fa-handshake"></i>  Багаторічний досвід</p>
    </div>
</div>

<section class="section">
    <div class="container">
    <div class="product-buttons">
        <input type="button" id="buttonDisc" class="product-button active" value="Знижки" onmousedown="viewDivDiscounts()">
        <input type="button" id="buttonHits" class="product-button" value="Хіти" onmousedown="viewDivHits()">
    </div>

    <div class="products">
        <div class="product-discount" id="product-discounts">
            <div class="container__shop">
                <div class="about">
                    <div th:each="el : ${discountProducts}"  class="item">
                        <div class="item__inner">
                            <div class="about__img">
                                <img th:src="@{'images/products/' + ${el.imagePath}}" alt="">
                            </div>
                            <div class="card__shop">
                                <div th:text="${el.name}" class="card__name"></div>
                                <div th:text="${el.price}" class="old-price"></div>
                                <div th:text="${el.discount}" class="card__prof"></div>
                            </div>
                            <div class="buy-button">
                                <a>
                                    <button onclick="buyProduct(this)" th:data-id="${el.id}"><i class="fas fa-shopping-cart"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-hits" id="product-hits">
            <div class="container__shop">
                <div class="about">
                    <div th:each="el : ${topProducts}" class="item">
                        <div class="item__inner">
                            <div class="about__img">
                                <img th:src="@{'images/products/' + ${el.imagePath}}" alt="">
                            </div>
                            <div class="card__shop">
                                <div th:text="${el.name}" class="card__name"></div>
                                <div class="card__text">продано <span th:text="${el.totalSales}"></span></div>
                                <div th:text="${el.discount}" class="card__prof"></div>
                            </div>
                            <div class="buy-button">
                                <a>
                                    <button onclick="buyProduct(this)" th:data-id="${el.id}"><i class="fas fa-shopping-cart"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <script th:src="@{js/script.js}"></script>
</section>

<div class="statistics"><!-- statistics -->
    <div class="container">
        <div class="stat">
            <div class="stat__item">
                <div class="stat__number">5</div>
                <div class="stat__text">років на ринку</div>
            </div>
            <div class="stat__item">
                <div class="stat__number">10</div>
                <div class="stat__text">кількість магазинів по країні</div>
            </div>
            <div class="stat__item">
                <div class="stat__number">300</div>
                <div class="stat__text">кількість одиниць товару</div>
            </div>
            <div class="stat__item">
                <div class="stat__number">10 тисяч</div>
                <div class="stat__text">кількість замовлень</div>
            </div>
            <div class="stat__item">
                <div class="stat__number">8,89</div>
                <div class="stat__text">середня оцінка від клієнтів</div>
            </div>
        </div>
    </div>
</div><!-- statistics -->

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="el : ${reviews}">
            <div class="image-text-block">
                <div class="text">
                <p style="text-align: left; padding-left: 40px;" th:text="${el.getUser().name}"></p>
                <p style="text-align: left; padding-left: 40px;" th:text="${el.getReviewDate()}"></p>
                <p th:text="${el.getReviewText()}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-pagination">
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<div class="container">
    <div class="map">
        <h1>Де ми знаходимось</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9932.067281276908!2d31.239500883809225!3d51.51290740659201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d546312ad821af%3A0xe26fdc878e862a0c!2z0JrQvtGB0YLRgNC-0LzRgdC60LDRjyDRg9C7LiwgMTIwLCDQp9C10YDQvdC40LPQvtCyLCDQp9C10YDQvdC40LPQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDE0MDM5!5e0!3m2!1sru!2sua!4v1697907683384!5m2!1sru!2sua" width="100%" height="200px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/mainScript.js}"></script>

</body>
</html>