<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script src="https://kit.fontawesome.com/c93819fc22.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <title>Shop</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="sendPost">
    <h1>Доставка і оплата</h1>

    <h2>Доставка</h2>
    <p>Ми пропонуємо швидку та надійну доставку по всій Україні. Вартість доставки розраховується автоматично при оформленні замовлення.</p>

    <h2>Оплата</h2>
    <p>Ми приймаємо оплату наступними способами:</p>
    <ul>
        <li>Готівковий розрахунок при отриманні товару (при доставці кур'єром)</li>
        <li>Оплата банківською картою під час оформлення замовлення онлайн</li>
        <li>Переказ на банківський рахунок</li>
    </ul>

    <h2>Зв'яжіться з нами</h2>
    <p>Якщо у вас є питання щодо доставки або оплати, будь ласка, зв'яжіться з нашою службою підтримки:</p>
    <p>Email: vitalikhall@ukr.net</p>
    <p>Телефон: +380958853686</p>

    <p>Дякуємо за покупку у нас!</p>

</div>

<div class="container">
    <div class="map">
        <h1>Де ми знаходимось</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9932.067281276908!2d31.239500883809225!3d51.51290740659201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d546312ad821af%3A0xe26fdc878e862a0c!2z0JrQvtGB0YLRgNC-0LzRgdC60LDRjyDRg9C7LiwgMTIwLCDQp9C10YDQvdC40LPQvtCyLCDQp9C10YDQvdC40LPQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDE0MDM5!5e0!3m2!1sru!2sua!4v1697907683384!5m2!1sru!2sua" width="100%" height="200px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/shopScript.js}"></script>

</body>
</html>
