<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>

<header>
    <a th:href="@{'/admin/'}">Назад</a>
</header>

<div class="container">
    <div class="content">
        <form id="myForm" method="post" th:action="@{'/admin/update'}">
            <label for="id">id</label>
            <input type="text" id="id" name="id" th:value="${product.id}"/>

            <label for="name">name</label>
            <input type="text" id="name" name="name" th:value="${product.name}"/>

            <label for="imagePath">image path</label>
            <input type="text" id="imagePath" name="imagePath" th:value="${product.imagePath}"/>

            <label for="typeId">type id</label>
            <input type="text" id="typeId" name="typeId" th:value="${product.type.id}"/>

            <label for="price">price</label>
            <input type="text" id="price" name="price" th:value="${product.price}"/>

            <label for="discount">discount</label>
            <input type="text" id="discount" name="discount" th:value="${product.discount}"/>

            <label for="count">count</label>
            <input type="text" id="count" name="count" th:value="${product.count}"/>

            <label for="totalSales">total sales</label>
            <input type="text" id="totalSales" name="totalSales" th:value="${product.totalSales}"/>

            <button type="submitForm" onclick="submitForm()">Надіслати</button>
        </form>
    </div>
</div>

<link rel="stylesheet" th:href="@{/styles/update.css}">

</body>
</html>