<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/user.css.css}">
    <title>User Data Page</title>
</head>
<body>

<header>
    <a th:href="@{/index}">Home</a>
</header>

<main>
    <h2>Дані про користувача</h2>

    <p>Ім'я: <span th:text="${name}"></span></p>
    <p>Email: <span th:text="${email}"></span></p>
    <p>Номер телефону: <span th:text="${phoneNumber}"></span></p>

    <form th:action="@{/index/submitReview}" method="post">
        <div>
            <label for="review">Відгук:</label>
            <textarea id="review" name="reviewText" rows="4" required></textarea>
        </div>
        <div>
            <input type="submit" value="Додати відгук">
        </div>
    </form>

    <h2>User Orders</h2>

    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Products</th>
            <th>Status</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${products}">
            <td th:text="${el.getId()}"></td>
            <td th:text="${el.getProducts()}"></td>
            <td th:text="${el.getStatus()}"></td>
            <td th:text="${el.getTotalPrice()}"></td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>
