
<div th:fragment="footer">
    <footer class="container"><!--copyright-->
        <div class="end">
            <div class="copyright">
                ©Інтернет-магазин <i class="fa-solid fa-fish-fins icon"></i> Fishing, 2017-2023
                <br>
                <span>Україна, Чернігів</span>
            </div>
            <div class="social-networks">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="phone-icon">
                <i class="fa-solid fa-phone"></i>
            </div>
            <span class="phone-number">+38(095)-885-36-86</span>
            <div class="send"><a class="send_a" th:href = "@{/send}">Доставка і оплата</a></div>
        </div>
    </footer><!--copyright-->
</div>