body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.menu {
    width: 10%;
    background-color: #484848;
    min-height: 100vh;
    padding: 20px;
}

.content {
    width: 80%;
    padding: 20px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #303030;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
}

.button:hover {
    background-color: #181818;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Стиль для рядків таблиці при наведенні миші */
tr:hover {
    background-color: #f5f5f5;
}

.edit-button,
.delete-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4CAF50; /* Зелений колір */
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.delete-button {
    background-color: #d22e2e;
}

.edit-button:hover {
    background-color: #45a049; /* Зелений колір при наведенні */
}

.delete-button:hover {
    background-color: #e61a1a;
}

#editForm {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Додавання ширини форми */
}

.inputText {
    width: 100%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.inputText:focus {
    background-color: #ddd;
    outline: none;
}

#editForm button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editForm button:hover {
    background-color: #45a049;
}

header {
    background-color: #3a3a3a;
    height: 70px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-title {
    text-align: center;
    flex-grow: 1; /* Занимать всё доступное пространство */
}

form {
    margin-left: 10px; /* Отступ слева для кнопки */
}

input[type="submit"] {
    font-size: 18px;
    height: 40px;
    width: 120px;
    margin-right: 40px;
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ea433e;
}