body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 10px 0px;
}

header i {
    font-size: 20px;
}

main {
    flex: 1;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td button {
    background-color: #f44336;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.purchase-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:hover {
    text-decoration: none;
}